* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    padding-top: 100px;
    padding-bottom: 100px;
}

iframe {
    border-radius: 6px;
}

.consent-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.content-blocker-headline {
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: .75rem;
}

.consent-notice {
    text-align: center;
    padding: 1.5rem;
    max-width: 100%;
    margin: 1.5rem;
    background: #f2f2f2;
    border-radius: 6px;
}

.consent-notice p {
    max-width: 38rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 1.4em;
}

.consent-notice a {
    margin: 10px 0;
}

.consent-notice button {
    font: inherit;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    background-color: #1e1e1e;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 1.5rem;
    width: 100%;
    transition: 0.1s ease;
}

.consent-notice button:hover,
.consent-notice button:focus {
    opacity: 0.8;
}

.consent-btn {
    font-size: 16px;
    display: block;
    margin-top: 1rem;
    padding: .5rem .75rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.manage-consent {
    margin-inline: auto;
}

.manage-consent h3 {
    font-weight: 500;
    font-size: 1.25rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.manage-consent + p {
    margin-top: 2rem;
}

.consent-container [data-src] {
    display: none;
}
